
@{
    ViewData["Title"] = "ResponceView";
}

<h1>ResponceView</h1>


<strong>Name</strong> : @ViewData["Name"]<br/>
<strong>Password</strong> : @ViewData["Password"]<br/>
<strong>Age</strong> : @ViewData["Age"]<br/>
