.image {
    margin-bottom: 10px;
}

    .image img {
        height: 181px;
        width: 228px;
        object-fit: cover;
        border-radius: 7px;
    }



.info-price {
    font-size: 21px;
    font-weight: 700;
}

.info h6{
    display: flex;
    flex-flow: column wrap;
    margin-top: 10px;
}


.add-to-cart {
    background: none;
    border: none;
    display: flex;
    width: 30px;
    height: 30px;
    align-items: center;
    justify-content: center;
    float: right;
    margin-top: 5px;
}


.add-to-cart {
    display: block;
    position: absolute;
    top: 10px;
    right: 10px;
    width: 25px;
    height: 22px;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: 2;
    opacity: 0.9;
    transition: all ease 0.25s;
    background-image: url(//tap.azstatic.com/assets/bookmarks/hearts_cards_sprite-05d1143….svg);
}



